/* general text formatting */
h1,
h2,
h3,
nav,
footer,
div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

/* header and footer */
header,
footer {
  color: white;
  background-color: #4b4b4b;
}

header h1 {
  padding: 8px 0 0 20px;
  font-size: 32px;
  font-weight: bold;
}

header p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 16px;
  padding: 0 0 0 20px;
}

/* main article styling */
main {
  background-color: rgb(255, 255, 255);
}

/* Form style */
legend {
  margin: 0;
  padding: 5px 0px;
  height: 27.2px;
  width: 100%;
  text-transform: uppercase;
  font-size: 21.6px;
  color: #ffffff;
  background-color: #808080;
}

legend span {
  display: inline;
  padding: 0px 0px 0px 15px;
}

fieldset {
  margin: 0;
  margin-bottom: 1%;
  padding: 0;
  background-color: #e8e8e8;
  width: 100%;
  border: none;
}

form p {
  margin-top: 8px;
  margin-left: 16px;
  padding: 0px 0px 0px 5px;
}
form input,
select {
  margin: 5px;
}

form input[type="submit"],
input[type="reset"] {
  margin: 10px 10px 10px 20px;
  font-size: medium;
  text-transform: capitalize;
}

section h2 {
  font-size: 21.6px;
  background-color: #919191;
  height: 27.2px;
  color: #f0f0f0;
  border: solid 1px black;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
}

label img {
  margin: 16px 0px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/* lists should have full with across the bar, with some space inbetween  */
nav ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

/* text should be centered, with proper padding between eleements */
nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
  width: 100%;
}

/* hover should change the color of bar */
nav ul li a:hover {
  background-color: grey;
  transition: 0.125s;
}

/* flex-box layout is used for the container of divs */
.container {
  display: flex;
}

/* each bar of the page is treated like a block element */
main, 
.nav-bar, 
.profile {
  display: block;
  height: 100vh;
  padding-top: 15px;
}

/* nav bar is spaced 3% away from the left end */
.nav-bar {
  width: 12%;
  background-color: #d0cbcb;
  margin-left: 3%;
}

/* forms are spaced in the middle, with a slight space between nav-bar and profile-bar */
.forms {
  width: 68%;
  margin-left: 1%;
  margin-right: 1%;
}

/* profile is spaced similar to nav-bar, but on the right side */
.profile {
  width: 12%;
  margin-right: 3%;
  background-color: #d0cbcb;
}

/* font and width sizings for the p elements in the profile-info, and sizing/margin spacing for the image */
.profile-info p,
.profile-info img {
  max-width: 70%;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}


.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

.profile-image {
  width: 50%;
}

.posts {
  border-style:solid;
  border-width: thin;
  border-radius: 2%;
  margin-top: 2%;
}

summary {
  margin-bottom: 3%;
  margin-left: 0.5%;
}

.posts p{
  margin-bottom: 1%;
  margin-left: 2%;
}

.login-box {
  background: rgb(185, 181, 181);
  
  border: 2px solid none;
  border-radius: 5px;

  width: 70vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  background-color: #dfd7d7;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box > h1 {
  font-size: 1.875rem;
  color:#313131;
  line-height: 1.2;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginForm > :is(input[type=text], input[type=password], input[type=submit]) {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.reg-link {
  margin-bottom: 10px;
}

.login-box p{
  color: red;
}